* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
/* 
body {
  background-color: #e6e6e6;
  display: flex;
  height: 100vh;
  width: 100vw;
  font-family: "Montserrat";
} */

.containerx {
  width: 600px;
  max-width: 100%;
  margin: auto;
}

.display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.display .display-item {
  flex-grow: 1;
  padding: 15px;
}

.display .display-item > span {
  display: block;
  text-align: center;
  padding: 15px;
  font-size: 2em;
}

.business-card,
.flippable-business-card {
  width: 400px;
  height: 200px;
  max-width: 100%;
  border-radius: 4px;
  margin: 0 auto;
}

.business-card {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    135deg,
    #fff 0%,
    #fff 50%,
    rgba(219, 180, 4, 0.4) 50.5%,
    rgba(230, 196, 4, 0.6) 100%
  );
  color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.business-card .profile {
  display: flex;
  flex-basis: 150px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 15px;
}

.business-card .profile .profile-image {
  /* background-image: url(https://images.unsplash.com/photo-1507120878965-54b2d3939100?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&s=57f3676a7820564424855d5e5c6b09e7); */
  background-image: url("../img/diki.jpg");
  background-position: center;
  background-size: cover;
  width: 120px;
  height: 120px;
  border-radius: 100%;
}

.business-card .profile .profile-logo {
  background-image: url("../img/logo.png");
  padding-left: 150px;
  background-position: center;
  background-size: cover;
  width: 120px;
  height: 120px;
}

.business-card .profile .profile-title {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.business-card .profile .profile-title h2 {
  font-size: 1.4em;
}

.business-card .info {
  display: flex;
  flex-grow: 1;
}

.business-card .info .info-contact {
  padding: 15px;
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  justify-content: space-around;
}

.business-card .info .info-contact a {
  color: rgba(0, 0, 0, 0.8);
}

.business-card .info .info-contact i {
  font-size: 1.2em;
  width: 25px;
}

.business-card .info .info-bio {
  display: flex;
  flex-grow: 1;
  flex-basis: 50%;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px;
  text-align: center;
}

.flippable-business-card {
  perspective: 1000px;
}

.flippable-business-card .front,
.flippable-business-card .back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
  transform-style: preserve-3d;
  background-color: white;
  border-radius: 4px;
  overflow: hidden;
}

.flippable-business-card .front {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.flippable-business-card .front .front-top {
  height: 150px;
  background-image: url(https://images.unsplash.com/photo-1421789665209-c9b2a435e3dc?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&s=b0aa3fbba9c018e93499effa49dd8e83);
  background-size: cover;
  background-position: center;
  position: relative;
}

.flippable-business-card .front .front-top h2,
.flippable-business-card .front .front-top h3 {
  display: block;
  padding: 15px;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4), -1px -1px 1px rgba(0, 0, 0, 0.4);
}

.flippable-business-card .front .front-top .profile-image {
  position: absolute;
  height: 120px;
  width: 120px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%) translateY(50%) rotate(45deg);
  border-radius: 4px;
  overflow: hidden;
  border: 4px solid white;
}

.flippable-business-card .front .front-top .profile-image:before {
  content: "";
  width: 140%;
  height: 140%;
  position: absolute;
  transform: rotate(-45deg);
  top: -20%;
  left: -20%;
  background-image: url(https://images.unsplash.com/photo-1498529605908-f357a9af7bf5?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&s=4a38e7f0743e48e6ae32b23d36aa6ff7);
  background-size: cover;
  background-position: center;
}

.flippable-business-card .front .front-bottom {
  height: 150px;
  display: flex;
  color: rgba(255, 255, 255, 0.8);
  background-color: darkslategray;
}

.flippable-business-card .front .front-bottom > div {
  flex-grow: 1;
  flex-basis: 50%;
  padding-top: 30px;
  padding-bottom: 15px;
}

.flippable-business-card .front .front-bottom > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 40px;
  padding-left: 15px;
}

.flippable-business-card .front .front-bottom > div:first-child h2 {
  font-size: 1.4em;
}

.flippable-business-card .front .front-bottom > div:last-child {
  display: flex;
  justify-content: space-around;
  padding-left: 40px;
  padding-right: 15px;
}

.flippable-business-card .front .front-bottom > div:last-child a {
  color: rgba(0, 0, 0, 0.8);
}

.flippable-business-card .front .front-bottom > div:last-child i {
  font-size: 1.2em;
  width: 25px;
}

.flippable-business-card .front .front-bottom > div:last-child > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.flippable-business-card .back {
  transform: rotateX(180deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: none;
  background-color: darkslategray;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  display: flex;
  flex-direction: column;
}

.flippable-business-card .back .title {
  height: 75px;
  padding: 15px;
}

.flippable-business-card .back .bio {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px;
  height: 150px;
  display: flex;
  flex-direction: column;
  font-style: italic;
  justify-content: space-around;
}

.flippable-business-card .back .social {
  height: 75px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.flippable-business-card .back .social .sms {
  display: flex;
  justify-content: space-around;
  font-size: 2em;
}

.flippable-business-card:hover .back {
  transform: rotateX(360deg);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.flippable-business-card:hover .front {
  transform: rotateX(180deg);
  box-shadow: none;
}
